<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block meta %}   {% endblock %}
        <title>{% block title %}          {% endblock %}  </title>
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript"  src="/static/js/uikit.min.js"></script>
        <script type="text/javascript" src="/static/vue.js"></script>
        <script type="text/javascript" src="/static/cryptojs/components/core-min.js"></script>
        <script type="text/javascript" src="/static/cryptojs/components/sha1.js"></script>

        {% block beforehead %}     {% endblock %}
    </head>
    <body>
        <nav class="uk-navbar">
            <a href="#" class="uk-navbar-brand">wingolol</a>
            <ul class="uk-navbar-nav">
                 <li data-url="blogs"><a href="/"><i class="uk-icon-home">日志</i></a></li>
                 <li><a href="#" target="_blank"><i class="uk-icon-home">教程</i></a></li>
             </ul>
             <div class="uk-navbar-flip">
                 <ul class="uk-navbar-nav">
                     {% if user %}
                      <li class="uk-parent" data-uk-dropdown><a href="#0"><i class="uk-icon-user"></i> {{ user.name }}</a>
                               <div class="uk-dropdown uk-dropdown-navbar">
                                      <ul class="uk-nav uk-nav-navbar">
                                         <li><a href="/signout"><i class="uk-icon-sign-out"></i>登出</a></li>
                                      </ul>
                               </div>
                      </li>
                     {% else %}
                       <li><a href="/signin"><i class="uk-icon-sign-in">登陆</i> </a></li>
                       <li><a href="/register"><i class="uk-icon-edit">注册</i> </a></li>
                     {% endif %}
                 </ul>
             </div>
         </nav>






        <div class="uk-container uk-container-center">
                <div class="uk-grid">
                          {% block content %}
                          {%  endblock %}
                </div>
        </div>

        <div class="uk-container uk-container-center uk-text-center">
              <div class="uk-panel  uk-margin-large-top uk-margin-large-bottom ">
                    <a target="_blank" href="https://www.google.com/"><i class="uk-icon-google"></i></a>
                    <a target="_blank" href="https://github.com/"><i class="uk-icon-github"></i></a>
                    <p>Powered by <a href="#">wingolol blog</a>.Copyright &copy：2018.</p>
                    <p><a href="#">wingolol.com</a>.All rights reserved</p>
                    <p><a target="#"><i class="uk-icon-venus-double"></i> </a> </p>
              </div>
        </div>




    </body>
</html>